@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,600&family=Commissioner:wght@400;500;700;800&family=Fraunces:ital,wght@0,700;0,900;1,700;1,900&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Libre+Franklin:ital,wght@0,300;0,600;0,700;1,300;1,600;1,700&family=Outfit:wght@300;400;600&family=Overpass:ital,wght@0,300;0,600;1,300;1,600&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Space+Mono:ital,wght@0,400;0,700;1,700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Commissioner", sans-serif;
  font-size: 62.5%;
}

input,
button,
select,
textarea {
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.cotainer {
  background: #fafafa;
  overflow-x: hidden;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: auto;
}

/* ========================================================================== */
/*                                   HEADER                                   */
/* ========================================================================== */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  background: red;
  min-height: 400px;
  background-image: url(../images/image-hero-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* --------------------------------- toggle --------------------------------- */
}

.header .head-toogle {
  width: 100%;
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .head-toogle .tg-icon {
  display: none;
}

.header .head-toogle img:nth-of-type(1) {
  min-width: 40px;
  min-height: 20px;
}

.header .head-toogle .tg-menu {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3rem;
}

.header .head-toogle .tg-menu a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 5px black;
  padding: 0.5rem;
}

.header .head-toogle .tg-menu a:hover {
  text-decoration: underline;
  font-weight: 700;
}

/* ========================================================================== */
/*                                   SECTION                                  */
/* ========================================================================== */
.main-sec {
  width: 60%;
  margin: auto;
  margin-top: -5rem;
  border-radius: 15px;
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

/* ========================================================================== */
/*                                    SEC1                                    */
/* ========================================================================== */
.sec1 {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  padding: 2rem;
  padding-top: 3rem;
  border-radius: 15px;
}

.sec1 .logo {
  position: absolute;
  top: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sec1 h2 {
  font-size: 1.8rem;
  text-align: center;
  padding: 0rem 0.5rem;
}

.sec1 .sec1-title {
  width: 100%;
  font-size: 1rem;
  opacity: 0.8;
  padding: 1rem 2rem;
  text-align: center;
}

.sec1 .sec1-bt {
  padding: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.sec1 .sec1-bt span {
  min-width: 200px;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  background: #3cb4ab;
  border-radius: 100px;
  cursor: pointer;
  text-align: center;
}

.sec1 .sec1-bt span:hover {
  opacity: 0.8;
}

.sec1 .sec1-bt .sec1-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.sec1 .sec1-bt .sec1-book span {
  padding-left: 4.5rem;
  background: #f4f4f4;
  color: #2f2f2f;
}

.sec1 .sec1-bt .sec1-book span:hover {
  opacity: 1;
  color: #826b6be0;
}

.sec1 .sec1-bt .sec1-book img {
  position: absolute;
  left: 0%;
}

/* ========================================================================== */
/*                                    SEC2                                    */
/* ========================================================================== */
.sec2 {
  width: 100%;
  padding: 3rem;
  border-radius: 15px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.sec2 .sec2-info {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.sec2 .sec2-proress {
  width: 100%;
  background: #f4f4f4;
  height: 20px;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
}

.sec2 .sec2-proress::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 70%;
  background: #3cb4ab;
  border-radius: 15px;
}

/* -------------------------------- sec2-info ------------------------------- */
.sec2 .sec2-info .info {
  border-right: solid 2px #ececec;
  padding-right: 0.5rem;
}

.sec2 .sec2-info .info h2 {
  font-size: 2.3rem;
}

.sec2 .sec2-info .info span {
  opacity: 0.7;
  font-size: 1rem;
}

.sec2 .sec2-info .info3 {
  border-right: none;
}

/* ========================================================================== */
/*                                    SEC3                                    */
/* ========================================================================== */
.secc3 {
  width: 100%;
  padding: 3rem;
  border-radius: 15px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.secc3 .sec3-info h3 {
  text-align: left;
  font-size: 1.3rem;
}

.secc3 .sec3-info p {
  font-size: 1rem;
  padding: 2rem 0;
  opacity: 0.8;
}

.secc3 .sec3-donate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

/* ------------------------- donate = p + info + title ------------------------ */
.secc3 .sec3-donate {
  /* --------------------------------- block3 --------------------------------- */
}

.secc3 .sec3-donate .donate {
  width: 100%;
  border: solid 2px #ececec;
  padding: 1.5rem 1rem;
  border-radius: 15px;
}

.secc3 .sec3-donate .donate .donate-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secc3 .sec3-donate .donate .donate-title h2 {
  font-size: 1.3rem;
}

.secc3 .sec3-donate .donate .donate-title span {
  color: #3cb4ab;
  font-size: 1rem;
}

.secc3 .sec3-donate .donate p {
  font-size: 1rem;
  padding: 1rem 0;
  opacity: 0.8;
}

.secc3 .sec3-donate .donate .donate-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secc3 .sec3-donate .donate .donate-info span {
  font-size: 2rem;
  font-weight: 700;
  color: black;
}

.secc3 .sec3-donate .donate .donate-info span sup {
  font-size: 0.8rem;
  font-weight: 300;
  opacity: 0.7;
}

.secc3 .sec3-donate .donate .donate-info button {
  padding: 1rem 1.5rem;
  background: #3cb4ab;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  border-radius: 100px;
  cursor: pointer;
}

.secc3 .sec3-donate .donate .donate-info button:hover {
  opacity: 0.7;
}

.secc3 .sec3-donate .donate3 {
  opacity: 0.5;
}

.secc3 .sec3-donate .donate3 .donate-info button {
  background: #cbcbcb;
  cursor: auto;
}

.secc3 .sec3-donate .donate3 .donate-info button:hover {
  opacity: 1;
}

/* ========================================================================== */
/*                                 MEDIA 900PX                                */
/* ========================================================================== */
@media screen and (max-width: 900px) {
  .sec1 .sec1-bt {
    padding: 0;
  }
}

.wrap-form {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-x: hidden;
  min-width: 100%;
  height: 280%;
  background: #4c474b86;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  /* -------------------------------- khi acive ------------------------------- */
}

.wrap-form.active {
  visibility: visible;
  opacity: 1;
}

.back-form {
  position: absolute;
  top: 0%;
  left: 20%;
  margin-top: 6rem;
  width: 60%;
  padding: 2rem;
  border-radius: 15px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* ---------------------------------- title --------------------------------- */
  /* ------------------------------ .form-option ------------------------------ */
}

.back-form.active {
  left: -100%;
}

.back-form .form-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.back-form .form-title img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0.5rem;
  border-radius: 50%;
}

.back-form .form-title img:hover {
  background: #16e1c944;
}

.back-form .form-title h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.back-form .form-title span {
  padding: 1rem 0;
  font-size: 1.1rem;
  opacity: 0.8;
}

.back-form .form-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.back-form .form-option .option {
  width: 100%;
  border: 2px solid #ececec;
  border-radius: 5px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  /* ---------------------------------- info ---------------------------------- */
}

.back-form .form-option .option .op-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.back-form .form-option .option .op-info {
  width: 100%;
}

.back-form .form-option .option .op-info .str-mb {
  display: none;
}

.back-form .form-option .option .op-info .op-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back-form .form-option .option .op-info .op-title label {
  font-size: 1rem;
  font-weight: 500;
  color: #79cec4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.back-form .form-option .option .op-info .op-title label:hover {
  color: #09f1d6;
}

.back-form .form-option .option .op-info .op-title span {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #79cec4;
}

.back-form .form-option .option .op-info .op-title strong {
  display: block;
  margin-left: auto;
  font-size: 1rem;
  font-weight: 700;
}

.back-form .form-option .option .op-info .op-title strong small {
  font-size: 0.8rem;
  font-weight: 300;
  margin-left: 0.5rem;
}

.back-form .form-option .option .op-info p {
  font-size: 1rem;
}

.back-form .form-option .option4 {
  opacity: 0.7;
}

.back-form .form-option .option4 .op-title #op4 {
  color: rgba(113, 79, 79, 0.884);
  cursor: auto;
}

.back-form .form-option .option4 .op-title #op-span4 {
  color: rgba(113, 79, 79, 0.864);
}

/* ========================================================================== */
/*                                 .OP-CUSTOM                                 */
/* ========================================================================== */
.form-option {
  width: 100%;
}

.form-option .option .op-custom {
  padding: 0rem 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 1px;
  overflow: hidden;
}

.form-option .option .op-custom span {
  font-size: 1rem;
  opacity: 0.8;
}

.form-option .option .op-custom .op-bt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.form-option .option .op-custom .op-bt input {
  width: 130px;
  padding: 1rem 2rem;
  border-radius: 15px;
  text-align: right;
  font-size: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.388);
  border-radius: 100px;
  background: white;
  outline: none;
}

.form-option .option .op-custom .op-bt input::-webkit-input-placeholder {
  text-align: left;
  font-size: 1rem;
}

.form-option .option .op-custom .op-bt input:-ms-input-placeholder {
  text-align: left;
  font-size: 1rem;
}

.form-option .option .op-custom .op-bt input::-ms-input-placeholder {
  text-align: left;
  font-size: 1rem;
}

.form-option .option .op-custom .op-bt input::placeholder {
  text-align: left;
  font-size: 1rem;
}

.form-option .option .op-custom .op-bt input:focus {
  border-radius: 100px;
  border: 2px solid #79cec4;
}

.form-option .option .op-custom .op-bt button {
  padding: 1rem 2rem;
  font-size: 1rem;
  background: #79cec4;
  font-weight: 500;
  border: none;
  border-radius: 105px;
  cursor: pointer;
  color: white;
}

.form-option .option .op-custom .op-bt button:hover {
  background: #08e2c9;
}

.form-option .option .op-custom1 {
  border-top: 0px solid rgba(25, 12, 12, 0.224);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-height: 0px;
}

.form-option .option .op-custom1.active {
  border-top: 1px solid rgba(25, 12, 12, 0.224);
  padding: 1rem 0;
  max-height: 300px;
}

.form-option .option .op-custom2 {
  border-top: 0px solid rgba(25, 12, 12, 0.224);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-height: 0px;
}

.form-option .option .op-custom2.active {
  border-top: 1px solid rgba(25, 12, 12, 0.224);
  padding: 1rem 0;
  max-height: 300px;
}

/* ========================================================================== */
/*                                   FINISH                                   */
/* ========================================================================== */
.wrap-form .form-finish {
  position: absolute;
  top: 10%;
  left: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 60%;
  padding: 3rem;
  border-radius: 15px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap-form .form-finish.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  left: 20%;
}

.wrap-form .form-finish h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

.wrap-form .form-finish p {
  font-size: 1rem;
  opacity: 0.8;
  padding: 1rem 0;
  text-align: center;
}

.wrap-form .form-finish .got-it {
  padding: 1rem 2rem;
  border-radius: 100px;
  background: #08e2c9;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.wrap-form .form-finish .got-it:hover {
  background: #08f0d5af;
}

@media screen and (max-width: 767px) {
  /* ========================================================================== */
  /*                                    HEAD                                    */
  /* ========================================================================== */
  .header {
    background-image: url(../images/image-hero-mobile.jpg);
  }
  .header .head-toogle {
    position: relative;
  }
  .header .head-toogle .tg-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .head-toogle .tg-icon .icon {
    position: absolute;
    display: block;
    min-width: 50px;
    min-height: 50px;
    padding: 0.7rem;
    border-radius: 10px;
    cursor: pointer;
  }
  .header .head-toogle .tg-icon .icon:hover {
    background: rgba(228, 223, 223, 0.442);
  }
  .header .head-toogle .tg-icon .toggle {
    display: none;
  }
  .header .head-toogle .tg-icon.active > .toggle {
    display: block;
  }
  .header .head-toogle .tg-icon.active > .hamber {
    display: none;
  }
  .header .head-toogle .tg-menu {
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 70%;
    border-radius: 15px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.285);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .header .head-toogle .tg-menu.active {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
  .header .head-toogle .tg-menu a {
    padding: 1.3rem;
    font-weight: 500;
    color: black;
    text-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.218);
    width: 100%;
  }
  .header .head-toogle .tg-menu a:hover {
    text-decoration: none;
  }
  .header .head-toogle .tg-menu a:last-of-type {
    border: none;
  }
  /* ========================================================================== */
  /*                                    SEC1                                    */
  /* ========================================================================== */
  .main-sec {
    width: 80%;
  }
  .sec1 {
    padding: 2rem 0.5rem;
  }
  .sec1 .sec1-bt {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 0.5rem;
  }
  .sec1 .sec1-bt span {
    min-width: 150px;
    padding: 1rem 1.2rem;
    text-align: center;
    font-size: 0.9rem;
  }
  .sec1 .sec1-bt .sec1-book span {
    display: none;
    padding: 0;
    min-width: unset;
    overflow: hidden;
  }
  .sec1 .sec1-bt .sec1-book img {
    position: relative;
    cursor: pointer;
  }
  .sec1 .sec1-bt .sec1-book img:hover {
    -webkit-filter: opacity(0.7);
            filter: opacity(0.7);
  }
  /* ========================================================================== */
  /*                                    SEC2                                    */
  /* ========================================================================== */
  .sec2 {
    padding: 1.5rem;
    /* ---------------------------------- info ---------------------------------- */
  }
  .sec2 .sec2-info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  .sec2 .sec2-info .info {
    border-right: unset;
    border-bottom: solid 2px #ececec;
    padding-bottom: 1.5rem;
    padding-right: 0;
  }
  .sec2 .sec2-info .info3 {
    border-bottom: unset;
    padding-bottom: 0rem;
  }
  /* ========================================================================== */
  /*                                    SEC3                                    */
  /* ========================================================================== */
  .secc3 {
    padding: 1.5rem;
  }
  .secc3 .sec3-donate {
    /* ---------------------------------- title --------------------------------- */
    /* --------------------------------- donate --------------------------------- */
  }
  .secc3 .sec3-donate .donate-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
  }
  .secc3 .sec3-donate .donate-title h2 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .secc3 .sec3-donate .donate-title span {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .secc3 .sec3-donate .donate-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
  }
  .secc3 .sec3-donate .donate-info span {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .secc3 .sec3-donate .donate-info button {
    padding: 1rem;
    font-size: 0.8;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .back-form {
    width: 80%;
    left: 10%;
    /* ---------------------------------- form-option ---------------------------------- */
  }
  .back-form .form-option .option {
    position: relative;
  }
  .back-form .form-option .option .op {
    position: absolute;
    left: 5%;
    top: 30px;
  }
  .back-form .form-option .option #op1 {
    top: 20px;
  }
  .back-form .form-option .option .op-info {
    position: relative;
  }
  .back-form .form-option .option .op-info .op-title {
    position: relative;
    left: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .back-form .form-option .option .op-info .op-title span {
    margin-left: 0;
  }
  .back-form .form-option .option .op-info .op-title strong {
    display: none;
  }
  .back-form .form-option .option .op-info p {
    position: relative;
    padding-bottom: 1rem;
  }
  .back-form .form-option .option .op-info .p1 {
    padding-top: 1rem;
  }
  .back-form .form-option .option .op-info .str-mb {
    display: block;
    font-size: 1rem;
    font-weight: 700;
  }
  .back-form .form-option .option .op-info .str-mb small {
    font-size: 0.8rem;
    font-weight: 300;
    margin-left: 0.5rem;
  }
  /* ========================================================================== */
  /*                                   CUSTOM                                   */
  /* ========================================================================== */
  .form-option .option .op-custom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    /* ------------------------------ button custom ----------------------------- */
  }
  .form-option .option .op-custom span {
    text-align: center;
  }
  .form-option .option .op-custom .op-bt input {
    width: 100px;
    padding: 1rem 1rem;
    font-size: 1rem;
  }
  .form-option .option .op-custom .op-bt button {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 424px) {
  .form-option .op-bt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .form-option .op-bt input {
    min-width: 120px;
    color: red;
    padding: 1rem 2rem;
  }
  .form-option .op-bt button {
    text-align: center;
    width: 80%;
    padding: 0.5rem;
  }
}
/*# sourceMappingURL=main.css.map */